body.dark-theme {
  padding: 0 !important;
  background-color: #2f2f2f;
}

.dark-theme .nav-container {
  box-shadow: 0 1px 5px rgba(0,0,0,.3)
}

.dark-theme .nav {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #2f2f2f));
  background: -webkit-linear-gradient(#4d4d4d,#2f2f2f);
  background: -moz-linear-gradient(#4d4d4d,#2f2f2f);
  background: -o-linear-gradient(#4d4d4d,#2f2f2f);
  background: linear-gradient(#4d4d4d,#2f2f2f);
}

.dark-theme .nav-tabs {
  margin-bottom: 0;
  border-bottom: 1px solid rgb(153, 153, 153);
}
.dark-theme .nav-tabs>li {
  margin-bottom: -1px;
  border-bottom: 1px solid rgb(153, 153, 153);
}
.dark-theme .nav-tabs>li>a {
  color: #76daff;
  border: none;
}
.dark-theme .nav-tabs>li>a:hover, .dark-theme .nav-tabs>li>a:focus {
  color: white;
  background-color: transparent;
}

.dark-theme .nav-tabs>li.active {
  margin-bottom: -2px;
  border-color: white;
  border-width: 2px;
  box-shadow: inset 5px 0px 8px -5px rgba(0, 0, 0, 0.5), inset -5px 0px 8px -5px rgba(0, 0, 0, 0.5)
}

.dark-theme .nav-tabs>li.active>a, .dark-theme .nav-tabs>li.active>a:hover,
.dark-theme .nav-tabs>li.active>a:focus {
  color: white;
  border: none;
  background-color: transparent;
}
