/*shared part start*/
.tab-container {

}

.tab-container pre {
  padding: 0;
  border: none;
  margin-bottom: 0;
}

.tab-container pre code {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;

  overflow: hidden;
  font-size: 100%;
  min-height: 258px;
}

.tab-container.non-autogrow pre code {
  bottom: 0;
  overflow: auto;
  min-height: 0;
}

.file-specified .tab-container pre code {
  top: 0 !important;
}

.action-buttons {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
}
.action-buttons > a {
  position: relative;
  top: 2px;

  margin-right: 2px;
}

.result-content {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
}
.result-content > iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  overflow: hidden;
  min-height: 258px;
}
.non-autogrow .result-content {
  bottom: 0;
}
.non-autogrow .result-content > iframe {
  bottom: 0;
  overflow: auto;
  min-height: 0;
}
/*shared part end*/

body {
  padding: 0 !important;
  background-color: transparent;
}

.nav-container {
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

.nav-tabs {
  margin-bottom: 0;
}

.nav-tabs>li {
  margin-bottom: -4px !important;
}
